version = 0.1
[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "bedrock-anthropic-proxy"
s3_bucket = "aws-sam-cli-managed-default-samclisourcebucket-xxxxx"
s3_prefix = "bedrock-anthropic-proxy"
region = "us-east-1"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
parameter_overrides = "BearerToken=\"your-secret-bearer-token\""